{% extends 'core/base.html' %}

{% block contenido %}
<!-- Page content-->  
<!-- About-->
<section class="about-section text-center" id="About">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">About BM Tool</h2>
                <p class="text-white-50">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel egestas dolor, nec dignissim metus.
                </p>
            </div>
        </div>
    </div>
</section>  

<ul>
    <li><a href="{% url 'core:index' %}">Back to home</a></li>
</ul>
{% endblock contenido %}