<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppCoder</title>
</head>
<body>
    <h1 style="color: aquamarine;">
        {% block contenido_titulo%}
        {% endblock contenido_titulo%}
    </h1>
        
    {% block contenido %}
    {% endblock contenido %}

    {% block footer %}
        <p>3100 Clarendon Blvd, Suite 200, Arlington, VA 22201 || info@tpanalytics.com</p>
    {% endblock footer %}

</body>
</html>